{{#each threads}}
<article class="message is-dark">
  <a href="/thread/{{ this._id }}" style="text-decoration:none">
    <div class="message-body">
      <p>by: {{ this.creator }}</p>
    </div>
    <div class="message-body">
      <p>{{ this.title }}</p>
    </div>
  </a>
</article>
{{/each}}
