<div class="columns">
  <div class ="column is-half">
    <div class="column is-three-quarters">
      <div class="field">
        <h2 class="subtitle">Login Here</h2>
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-dark" type="email" placeholder="Email input">
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-dark" type="password" placeholder="Password input">
          <span class="icon is-small is-left">
            <i class="fa fa-lock"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox"> Remember Me
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-dark">Login</button>
        </div>
      </div>
    </div>
  </div>
  <div class ="column is-half">
    <div class="column is-three-quarters">
      <div class="field">
        <h2 class="subtitle">Register Here</h2>
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-dark" type="email" placeholder="Email input">
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-dark" type="password" placeholder="Password input">
          <span class="icon is-small is-left">
            <i class="fa fa-lock"></i>
          </span>
        </div>
      </div>
      <br>
      <div class="field">
        <div class="control">
          <button class="button is-dark">Register</button>
        </div>
      </div>
    </div>
  </div>
</div>
