<form method="POST" action="/new">
  <label class="label">Title</label>
  <textarea class="textarea" placeholder="Enter your title here!" name="title"></textarea>
  <label class="label">Description</label>
  <textarea class="textarea" placeholder="Enter your question here!" name="description"></textarea>
  <br>
  <div class="field">
    <div class="control">
      <button class="button is-dark">Submit</button>
    </div>
  </div>
</form>
